/*** START: Ext CSS  ****/
.ems .x-panel-body-default {
	background: #fafafa; /*#F7F7F7*/
}

.ems .x-tree-panel .x-grid-cell {
	background: #fafafa;
}

.ems .x-message-box .ext-mb-info {
	margin-right: 16px;
	margin-bottom: 3px;
	width: 32px !important;
	height: 32px !important;
	background: transparent url('images/ems_icons.png') no-repeat -127px -47px;
}
.ems .x-message-box .ext-mb-warning {
	margin-right: 16px;
	margin-bottom: 3px;
	width: 32px !important;
	height: 32px !important;
	background: transparent url('images/ems_icons.png') no-repeat -32px -48px;
}
.ems .x-message-box .ext-mb-question {
	margin-right: 16px;
	margin-bottom: 3px;
	width: 31px !important;
	height: 32px !important;
	background: transparent url('images/ems_icons.png') no-repeat -96px -48px;
}
.ems .x-message-box .ext-mb-error {
	margin-right: 16px;
	margin-bottom: 3px;
	width: 32px !important;
	height: 32px !important;
	background: transparent url('images/ems_icons.png') no-repeat 0px -48px;
}
.ems .x-message-box .ext-mb-success {
	margin-right: 16px;
	margin-bottom: 3px;
	width: 32px !important;
	height: 32px !important;
	background: transparent url('images/ems_icons.png') no-repeat -64px -48px;
}

.ems .x-tab-bar .x-tab-bar-body {
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}
.ems .x-tab-bar .x-tab-bar-strip {
	border: 0px !important;
}

.ems .x-drop-target-active {
	background: #dfedff;
    border: 1px solid #6593cf;
}

.ems .iconbrowser-view {
}
.ems .iconbrowser-view .icon-browser {
    padding: 3px;
    text-align: center;
}
.ems .iconbrowser-view .icon-browser-wrap {
	float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.ems .iconbrowser-view .icon-browser-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}
.ems .iconbrowser-view .x-view-over {
    border: 1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
    cursor: pointer;
}
.ems .iconbrowser-view .x-item-selected {
    background: #dfedff;
    border: 1px solid #6593cf;
    padding: 4px;
    cursor: pointer;
}
.ems .iconbrowser-view .x-item-selected .icon-browser {
    background: transparent;
}
.ems .iconbrowser-view .x-item-selected span {
    color:#1A4D8F;
}


/*** END: Ext CSS ****/

/*** END: Ems Global Message ****/
.ems .global-message {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
.ems .global-message .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #f6f6f6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
.ems .global-message .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
.ems .global-message .msg p {
    margin: 0;
}
/*** END: Ems Global Message ****/

.ems .x-grid-cell-rowspan {
	background: #FFFFFF !important;
}

.ems .xgrid-header-text {
	color: #04408C;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
}

.ems .ems-header .x-panel-body.x-box-layout-ct {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom-width: 1px;
}
.ems .ems-header .ems-logo .x-panel-body {
	background: transparent url('images/ticoxu_logo.png') no-repeat left;
}

.ems .ems-menu .x-grid-view .x-grid-row .x-grid-cell-inner {
	padding-top: 2px;
	padding-bottom: 2px;
	height: 24px;
}

.ems .ems-menu .x-tree-panel > .x-panel-body {
	overflow-y: auto !important;
}

.ems .ems-workspace .x-panel-body {
	border-top: 0px;
}

.ems .ems-status-bar {
	border: 0px;
}

.ems .icon-users, .ems .icon-roles {
	background: transparent url('images/ems_icons.png') no-repeat -48px -32px;
}

.ems .icon-role-admin {
	background: transparent url('images/ems_icons.png') no-repeat -16px -32px;
}
.ems .icon-role-teacher {
	background: transparent url('images/ems_icons.png') no-repeat -32px -32px;
}
.ems .icon-role-student {
	background: transparent url('images/ems_icons.png') no-repeat -16px -32px;
}

.ems .icon-logout {
	background: transparent url('images/ems_icons.png') no-repeat -64px -0px;
}

.ems .icon-identity-card {
	background: transparent url('images/ems_icons.png') no-repeat -80px -32px;
}

.ems .icon-user {
}

.ems .icon-key {
	background: transparent url('images/ems_icons.png') no-repeat -80px 0px;
}

.ems .icon-search {
	background: transparent url('images/ems_icons.png') no-repeat 0px -16px;
}
.ems .icon-reset {
	background: transparent url('images/ems_icons.png') no-repeat -16px -16px;
}

.ems .icon-add, .ems .icon-new, .ems .icon-create {
    background-image: url('images/woofunction-icons/add_16.png');
}

.ems .icon-edit, .ems .icon-modify, .ems .icon-update {
	background: transparent url('images/ems_icons.png') no-repeat -32px -16px;
}

.ems .icon-close, .ems .icon-delete {
	background-image: url('images/woofunction-icons/close_16.png');
}

.ems .icon-read, .ems .icon-view {
	background: transparent url('images/ems_icons.png') no-repeat -64px -16px;
}

.ems .icon-speaker {
	padding-left: 25px;
    background: transparent url('images/icons/speaker_16.png') no-repeat;
}

.ems .icon-print {
	background: transparent url('images/ems_icons.png') no-repeat -80px -16px;
}

.ems .icon-batch-import {
	background: transparent url('images/ems_icons.png') no-repeat -112px -16px;
}

.ems .icon-export-excel {
	background: transparent url('images/ems_icons.png') no-repeat -96px -16px;
}

.ems .icon-cert {
	background: transparent url('images/ems_icons.png') no-repeat -112px -32px;
}

.ems .icon-stamp {
	background: transparent url('images/ems_icons.png') no-repeat -112px 0px;
}

.ems .icon-arrow-up {
	background-image: url('images/woofunction-icons/arrow_up_16.png');
}

.ems .icon-arrow-down {
	background-image: url('images/woofunction-icons/arrow_down_16.png');
}

.ems .icon-plan {
	background: transparent url('images/ems_icons.png') no-repeat -96px -32px;
}

.ems .icon-filter {
	background: transparent url('images/ems_icons.png') no-repeat -48px -16px;
}

.ems .icon-star {
	background-image: url('images/woofunction-icons/star_16.png');
}


.ems .help-info-left {
	padding-left: 20px;
	height: 16px;
    background: transparent url('images/icons/info_16.png') top left no-repeat;
	left: 0 !important;
}

.ems .input-filter { /*.x-form-item-body
	position: absolute;
	clear:left;
	float: right;
	left: 0 !important; */
	padding-top: 1px;
	padding-left: 10px;
}
.ems .input-filter .x-form-item-body .x-form-text {
	padding-left: 20px;
	background: #FFFFFF url('images/icons/filter_16.png') left no-repeat;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.ems .x-container .x-form-item-label.field-container-label {
	text-align: right;
	padding-top: 6px;
}

.ems .icon-browser-tab-panel .x-panel-body {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}