* {
	color: #000 !important;
}

a {
	text-decoration: none !important;
}

body {
	color: black;
	font-size: 9px;
	font-family: tahoma, arial, verdana, sans-serif
}

.page-separator {
	page-break-after: always;
}