<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EMS_Server</display-name>
	
	<context-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>classpath:conf/spring/AC.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
        <filter-name>encodingFilter</filter-name>
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--
    <filter>
        <filter-name>authFilter</filter-name>
    	<filter-class>com.ems.client.filter.AuthFilter</filter-class>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>index.html?</param-value>
        </init-param>
        <init-param>
            <param-name>filterActionRegex</param-name>
            <param-value>ems_system_.*|ems_main_.*|ems_biz_.*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
    	<filter-name>authFilter</filter-name>
    	<url-pattern>/djn/directprovider/*</url-pattern>
    </filter-mapping>
    -->
	
	<!-- DirectJNgine servlet -->
	<servlet>
		<servlet-name>DjnServlet</servlet-name>
		<servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>   
		<init-param>
			<param-name>minify</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>createSourceFiles</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>providersUrl</param-name>
			<param-value>djn/directprovider</param-value>
		</init-param>
		<init-param>
			<param-name>contextPath</param-name>
			<param-value>/EMS_Server</param-value>
		</init-param>
		<init-param>
			<param-name>batchRequestsMultithreadingEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>registryConfiguratorClass</param-name>
			<param-value>com.ems.system.client.ActionRegistryConfigurator</param-value>
		</init-param>
		<init-param>
			<param-name>dispatcherClass</param-name>
			<param-value>com.ems.client.filter.ActionDispatcher</param-value>
		</init-param>
		<init-param>
			<param-name>apis</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>  
	<servlet-mapping>
		<servlet-name>DjnServlet</servlet-name>
		<url-pattern>/djn/directprovider/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>